<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dzhang4.dzhang4_gamebuzzer" >

    <application
        android:name=".globalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".single_userActivity"
            android:label="@string/title_activity_single_user" >
        </activity>
        <activity
            android:name=".multi_playerActivity"
            android:label="@string/title_activity_multi_player" >
        </activity>
        <activity
            android:name=".statsActivity"
            android:label="@string/title_activity_stats" >
        </activity>
        <activity
            android:name=".two_playerActivity"
            android:label="@string/title_activity_two_player" >
        </activity>
        <activity
            android:name=".three_playerActivity"
            android:label="@string/title_activity_three_player" >
        </activity>
        <activity
            android:name=".four_playerActivity"
            android:label="@string/title_activity_four_player" >
        </activity>
    </application>

</manifest>
